{% load static %}

<section class="social">
    <a href="{{setting.link_telegram}}">
        <div class="social-box">
            <div class="sonar-wrapper">
                <div class="sonar-emitter">
                    <div class="sonar-wave sonar-wave1 fa-brands fa-telegram"></div>
                    <div class="sonar-wave sonar-wave2"></div>
                    <i class="fa-brands fa-telegram"></i>
                    <div class="sonar-wave sonar-wave3 fa-brands fa-telegram"></div>
                    <div class="sonar-wave sonar-wave4"></div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </a>
</section>